html
  head
    meta(charset='utf-8')
    title Kubernetes team4
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Consolas')
    script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=43e52cb236ac57e513a7e3affbdd179f&libraries=services,clusterer,drawing')
    style.
      /* 스타일 조정 */
      #menu_wrap {
        position: relative;
        text-align: center; /* 텍스트 및 버튼 중앙 정렬 */
        margin: 0;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      #form_wrap {
        position: relative;
        text-align: center; /* 텍스트 및 버튼 중앙 정렬 */
        margin: 0;
        top: 30px;
        left: 120px;
        z-index: 10;
        background-color: rgb(255, 255, 255, 0);
        padding: 5px;
        border-radius: 5px;
      }
      .title-box {
        background-color:rgb(182, 211, 113); /* 박스 배경색 */
        padding: 80px;            /* 박스 내부 여백 */
        border-radius: 0px;       /* 모서리 둥글게 */
        border: 0px solid #ccc;   /* 테두리 추가 */
        margin-bottom: 0px;      /* 아래 여백 */
        max-width: 1140px;
        margin: 0 auto;

      }

  body(style="background-color: rgb(231, 254, 214); ")
          .title-box
            h1.title-main(style="font-size: 20px; color:rgb(16, 0, 73); font-weight: bold; text-align: center;")
              a(href='/')
              br
              | 전국의 자연 명소를 쉽고 간편하게 검색하세요 !
            h2.title-welcome(style="font-size: 30px; color: rgb(255, 255, 255); font-weight: bold; text-align: center; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);")
              | Welcome to k-nature
            p.title-search(style="font-size: 15px; color: rgb(61, 61, 61); font-weight: bold; text-align: center;")
              | 당신이 찾던 도심 속 자연의 힐링
            form(onsubmit='searchPlaces(); return false;' style="text-align: center; margin-top: 10px; ")
              input(type='text', value='여의도 공원', id='keyword', size='30', style="padding-top: 6px; padding-bottom: 6px;")
              button(type='submit' class='btn-enter' style="font-size: 12px; background-color: rgb(20, 136, 0); color: white; padding: 10px 10px; border: none; cursor: pointer;") ENTER
            p.title-search(style="font-size: 15px; padding-top: 25px; color: rgb(61, 61, 61); font-weight: normal; text-align: center; white-space: pre;")
              |
              a(href='https://parks.seoul.go.kr/template/sub/yeouido.do') 여의도 공원
              |
              a(href='https://parks.seoul.go.kr/parks/detailView.do?pIdx=5#target01')          서울숲
              |
              a(href='https://jeju.go.kr/hallasan/index.htm')       한라산
              |
              a(href='https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=7ba5e7f2-5b78-43a1-8806-d8a6c0e7af2c')   올림픽공원

          .container.posts.mt-0
            include map.pug
          .container.posts.mt-0
            include new.pug
            include list.pug
